name: Run Corellium Raspberry Pi Model

on: [push]

jobs:
  rbpi-ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Run AVH
        id: corellium-avh
        uses: jyamadaCore/avh-ci@v1.0.0
        env:
          PROJECT: ${{ secrets.CORELLIUM_PROJECT }}
          CORELLIUM_API_TOKEN: ${{ secrets.CORELLIUM_API_TOKEN }}
          SERVER: ${{ secrets.CORELLIUM_SERVER }}
          ACTIONS_STEP_DEBUG: true
          ACTIONS_RUNNER_DEBUG: true
        with:
          deviceFlavor: 'rpi4b'
          deviceOS: 11.2.0
          deviceName: 'rbpi-ci'
